html,body{
    height: 100%;
//    overflow-x: hidden;
}
small,.small{display: inline-block;}
*::selection{
    background: $black;
    color: $white;
}
#blog{
    overflow: hidden !important;
    background: #F7F7F7;
}
#contact{
    text-transform: uppercase;
    width: 100%;
    & img{
        margin-bottom: 40px;
        border-radius: 100%;
        margin-left: 5px;
        width: 20vw;
        text-align: center;
    }
    & .fb{
        font-weight: bold !important;
        text-transform: uppercase;
        padding: 0;
        height: 2em;
    }
    & h5{
        
        display: inline-block;
        font-size: 1.8em;
        font-weight: bold;
        margin-left: 10px;
    }
    & ul{
        position: relative;
        text-align: left;
        display: inline-block;
        list-style-type: none;
        margin: 25px;
        font-size: .9em;
        padding: 0;
        left: 1%;
        font-weight: bold;
        
    }
    & .med{
        margin-bottom: 15vh;
        margin-left: 15px;
    }
}
.navbar-brand{margin-right: 0;}
i{
    width: 27px;
    height: 27px;
    margin-left: 15px;
    -webkit-transition: .2s ease-out ;
    -moz-transition: .2s ease-out ;
    -o-transition: .2s ease-out ;
    transition: .2s ease-out ;
    &:first-child{
    margin-left: 0;
    }
    &:hover{
    background: $white;
    }
}
path{
    Fill: $yellow; 
}

.img{
    width: 100%;
    height: 100%;

}

.scena{
    position: absolute;
    height: 10em;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    &>div{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }
}

.hw100{
    width: 100%;
    height: 100%;
}

.mt{
    margin-top: 30px;
}

.mt-70{
    margin-top: 70px;
}

.mb{
    margin-bottom: 30px;
}
.ml0{
    margin-left: 0 !important;
}
.mr0{
    margin-right: 0 !important;
}
.pb{
    padding-bottom: 30px;
}

.ptb{
    padding: 50px 0;
}

.plr{
    padding: 0 142px;
}

.pl{
    padding-left: 285px;
    &0{padding-left: 0;}
}

.pr{
    padding-right: 285px;
    &0{padding-right: 0;}
}

.text-center>.btn-outline-yellow2{
    margin-top: 25px;
    margin-bottom: 40px;
    border-radius: 50px;
    padding: 20px 70px;
    cursor: pointer;
}

.h-auto{
    font-weight: bold !important;
    text-transform: uppercase;
    padding: 0;
    height: 2em;
}

.hight1{
    width: 100%;
    height: 500px;
}

.card{
    border: none !important;
    border-radius: 0px !important;
    background: rgba(255, 255, 255, 0);
    & a{
        color: #000;
        text-decoration: none;
    }
}

.card-header{
    border: none !important;
    border-radius: 0px !important;
    background: none !important;
    font-size: 20px !important;
    margin-top: 39px;
    margin-bottom: 0 !important;
    padding: 0 !important;
    text-align: center;
    width: 100%;
}
.card-text{
    font-size: 13px !important;
}

.card-img-top{
    border-radius: 0px !important;
}

.w-card{
    max-width: 1000px;
}

.bold{
    font-weight: bold !important;
}

hr{
    background: #000 !important;
    &.w100{
    text-align: center;
    width: 200px;
    margin: 0 auto !important;
    }
    &.w50{
    text-align: center;
    width: 100px;
    margin: 0 auto !important;
    }
}
.mauto {
    margin: 20px 36vw !important;
}
.header{
    height: 100vh;
    width: 100%;
    background: url(../img/svadba_para.jpg) no-repeat right;
    background-size: cover;
//    background-attachment: fixed;
}
.about{
    height: 600px;
    width: 100%;
    background: url(../img/123.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    color: $white;
    &>div{
    padding-top: 120px;
    height: 100%;
    width: 100%;
    background: #0005;
    }
    & hr{
        background: #fff !important;
        text-align: center;
        width: 40vh;
        margin: 0 auto !important;
        padding: 1px;
    }
    & p{
        width: 50%;
        margin: 70px auto;
    }
}

.portfolio{
    width: 100%;
    overflow-x: hidden;
    & .port{
        position: relative;
        display: inline-block;
        color: #fff;
        text-align: left;
        padding-top: 13vh;
        padding-left: 15px;
        text-decoration: none;
        }
    & .first{
        padding: 15% auto;
        width: 100%;
        height: 300px;
        text-align: center !important;
        background: url(../img/wwwww.jpg) no-repeat center;
        background-size: cover;
        @include transition(.2s);
        & small{
            padding: 0 10%;
        }
    }
    & .mt{margin-top: 15px;}
    & .other{
        position: relative;
        width: 100%;
        height: 300px;
        margin: 15px;
        text-align: left;
        text-align: bottom;
        background: url(../img/wwwww.jpg) no-repeat center;
        background-size: cover;
        @include transition(.2s);
    }
    & .zag{ 
        top: 50%;
    }
}
.portfolio .zag,small{
    z-index: 3;
    position: relative;
    text-transform:uppercase;
}
.b-black{
        top: 0;
        left: 0;
        background: #000;
        opacity: .4;
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
        @include transition(.2s);
    }
.hover:hover .b-black{
        opacity: 0;
    }
#cost{
    width: 100%;
    height: 100vh;
    background: url(../img/love-images.jpg) no-repeat center #ccc;
    background-size: cover;
    overflow: hidden;
    & h2{
        color: #fff;
    }
    &>.row{
        background: #0003;
    }
}
.component{
    margin: 0 auto;
    height: 100vh;
}
.component-cost{
    display: inline-block;
    background: #fff;
    margin: 20px;
    border-radius:30px;
    font-weight: bold;
    text-transform: uppercase;
    & ul{
        text-align: left;
        padding-top: 0;
        overflow-y:auto;
        margin-bottom: 10vh;
        margin-top: 5px;
        height: 150px;
        &>li{
            padding: 5px;
        }
    }
    &-head{
        position: relative;
        top: 0;
        height: 40%;
        padding: 20px;
        padding-top: 30%;
        border-radius: 30px 30px 0 0;
        background: $yellow2;
        font-weight: bold;
        font-size: 45px;
    }
    &>.cost-time{
        position: relative;
        background: $yellow2;
        top: -25px;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 0 40px;
        width: 200px;
        margin: 0 auto;
        font-weight: bold;
    }
    & .btn-yellow2{
        display: inline-block;
        padding: 10px 20%;
        border-radius: 30px;
        font-weight: bold;
    }
}
.slick-slide{
    position: relative;
    top: 40px;
    padding-bottom: 20px;
    height: 60vh !important;
    @include transition(.2s);
}
.slick-center{
    top: 0;
    height: 70vh !important;
    padding-bottom: 0px;
    &>ul{
        height: 180px;
    }
    & .component-cost-head{
        padding-top: 40%;
    }
}
#cost>.slick-next{
    top: 40vh !important;
}
#cost>.slick-prev{
    bottom: 40vh !important;
}
#cost>.slick-prev{
    left: 20% !important;
}
#cost>.slick-next{
    right: 20% !important;
}
ul,body{
    &::-webkit-scrollbar{
        width:8px;
        &::-webkit-scrollbar-track:hover{
            width: 14px;
        }
    }
    &::-webkit-scrollbar-thumb{
        border-width:1px 1px 1px 2px;
        border-radius: 5px;
        border-color: #777;
        background-color: $yellow2;
}
}
footer{
    background: #000;
    width: 100%;
    padding-top: 2.5rem;
    padding-bottom: 1.4rem;
    & b>a{
        text-transform: uppercase;
        font-weight: bold;
        color: #777;
        text-decoration: none;
    }
    & .float-left{padding-left: 20px;}
    & .med{
        float:right;
        padding-right: 20px;
    }
}
//This @media
@media (min-width: 766px) and (max-width: 1200px) {
    nav .med{
        display:none; 
    }
    .component-cost-head{
        padding-top: 30%;
        font-size: 30px;
    }
    .component-cost > .cost-time{
        width: 150px;
        font-size: 13px;
        padding: 0px 20px;
    }
    .component-cost ul{
        font-size: 15px; 
        height: 160px;
        margin-bottom: 3vh;
        margin-top: 5px;
    }
    .slick-center ul{
       margin-bottom: 5vh; 
    }
    .slick-slide .component-cost-head {
        padding-top: 60px;
    }
}

@media (min-width: 1201px) and (max-width: 1700px) {
    .plr{
        padding: 0 15px;
    }
    .pl{
        padding-left: 30px;
    }
    .pr{
        padding-right: 30px;
    }
    .component-cost ul{
        margin-top: 5px;
        height: 140px;
        margin-bottom: 70px;
    }
    .slick-center ul{
        height: 190px;
    }
}

  @media (max-width: 1400px){
    .plr{
        padding: 0;
    }
    .pl{
        padding-left: 0px;
    }
    .pr{
        padding-right: 0px;
    }
    .card-header{
        font-size: 10px !important;
    }
    .zag{font-size: 2em !important;}
    .about{
    height: 100%;
        & p{
            width: 100%;
            margin: 70px 0;
        }
    }
    
}

  @media (max-width:766px){
    h2  {font-size: 1.7em !important;}
    h4  {font-size: 1.9em !important;}
    .about{
        & h2{
            text-align: left !important; 
        }
        & hr{
            width: 20vh;
            margin-left: 0 !important;
        }
      }
      .portfolio .first{
          text-align: left;
          & small{
              padding: 0;
          }
      }
    .slick-center{
        top: 0;
        height: 90vh !important;
        padding-bottom: 0px;
            &>ul{
                height: 150px;
            }
            & .component-cost-head{
                padding-top: 40%;
            }
    }
    .slick-slide{
        & .component-cost-head{
            padding-top: 80px;
        }
        height: 90vh !important;
        top: 0 !important;
        @include transition(.2s);
    }
    .component-cost ul{
        margin: 0;
        height: 35vh;
        margin-bottom: 10px;
      }
    #cost{
        height: 100%;
    }
    .h-auto{
        margin-left: -5px;
    }
    #blog {
      
        & h5{
            margin-left: .75em !important;
        }
        & .card-body{
            padding: 2.25rem !important;
        }
    }
    .text-center > .btn-outline-yellow2{
        padding: 15px 55px;
        margin-top: 25px;
    }
    .ptb{
        padding-bottom: 20px;
    }
    .portfolio .port{
        padding-top: 8vh;
        font-size: 0.8em;
    }
    #contact {
        & img{
            width: 50vw;
        }
        & ul{
            left: 4%;
            font-size: .7em;
        }
        & h5{
            font-size: 1.2em;
        }
        & .med{margin-left: 4px;}
        & i{
            width: 20px;
            margin-left: 10px;
            &:first-child{
                  margin-left: 0;  
            }
        }
    }
    footer{
        padding-top: 1.5em;
        .med{
            display: none;
        }
    }
}
@media (max-width:500px){
    #contact {
        & ul{
            left: 4.5%;
            font-size: .65em;
        }
    }
}