{% load staticfiles %}
<!DOCTYPE html>

<head>
	<meta charset="utf-8">
  <link   rel="stylesheet" href="{% static "css/style.css" %}">
  <link   rel="stylesheet" href="{% static "css/slider.css" type="text/css" %}" />
</head>
	<div id="fh5co-logo"><a href="index.html"><img src="{% static "images/logo.png" %}" alt="Не работает лого"></a></div>
	<!-- Loader -->
<br>
		<url class="menu-main">
			<li><a href="/index/index">Главная</a></li>
			<li><a href="/portfolio">Портфолио</a></li>
			<li><a href="/price">Цены</a></li>
			<li><a href="/comments">Отзыви</a></li>
			<li><a href="/blog">Блог</a></li>
			<li><a href="/contact">Связаться</a></li>
		</url>
<br>
<div class="example">
            <h3><a href="#">Flux Slider example</a></h3>

            <div id="slider">
                <img src="{% static "images/pic1.jpg" %}" alt="не работает 1">
                <img src="{% static "images/pic2.jpg" %}" alt="не работает 2">
                <img src="{% static "images/pic3.jpg" %}" alt="не работает 3">
                <img src="{% static "images/pic4.jpg" %}" alt="не работает 4">
                <img src="{% static "images/pic5.jpg" %}" alt="не работает 5">
                <img src="{% static "images/pic6.jpg" %}" alt="не работает 6">
                <img src="{% static "images/pic7.jpg" %}" alt="не работает 7">
                <img src="{% static "images/pic8.jpg" %}" alt="не работает 8">
                <img src="{% static "images/pic9.jpg" %}" alt="не работает 9">
                <img src="{% static "images/pic10.jpg" %}" alt="не работает 10">
            </div>

            <hr />
            <div id="transitions">
                <ul id="trans2D" class="transitions">
                    <li><b>2D Transitions</b></li>
                    <li><a href="#" id="bars">Bars</a></li>
                    <li><a href="#" id="zip">Zip</a></li>
                    <li><a href="#" id="blinds">Blinds</a></li>
                    <li><a href="#" id="blocks">Blocks</a></li>
                    <li><a href="#" id="concentric">Concentric</a></li>
                    <li><a href="#" id="warp">Warp</a></li>
                </ul>
                <ul id="trans3d" class="transitions">
                    <li><b>3D Transitions</b></li>
                    <li><a href="#" id="bars3d">Bars3D</a></li>
                    <li><a href="#" id="cube">Cube</a></li>
                    <li><a href="#" id="tiles3d">Tiles3D</a></li>
                    <li><a href="#" id="blinds3d">Blinds3D</a></li>
                </ul>
                <ul id="controls">
                    <li><b>Controls</b></li>
                    <li><a href="#" id="start">Play</a></li>
                    <li><a href="#" id="stop">Pause</a></li>
                    <li><a href="#" id="next">Next</a></li>
                    <li><a href="#" id="prev">Prev</a></li>
                </ul>
            </div>
            <div id="warn" style="display:none"></div>
        </div>

        <hr style="clear:both;" />
        <h4><a href="http://www.script-tutorials.com/using-flux-slider-jquery-plugin/">back to original article page</a></h4>
{% block index %}{% endblock %}
{% block portfolio %} {% endblock %}

{% block price%} {% endblock %}

{% block comments%} {% endblock %}

{% block blog%} {% endblock %}

{% block contact%} {% endblock %}

<script src="{% static "js/jquery-1.5.2.min.js" type="text/javascript" %}" charset="utf-8"></script>
<script src="{% static "js/flux.min.js" type="text/javascript" %}" charset="utf-8"></script>
<script src="{% static "js/main.js" type="text/javascript" %}" charset="utf-8"></script>

	</body>
</html>
